html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    border: 5px solid rgba(0, 0, 0, 0.37);
}


body {
    background-color: #DAA520;
    color: #fff;
    font-family: monospace;
    font-size: 13px;
}

*:focus {
    outline: 2px solid rgba(0, 0, 0, 0.37);
    outline-offset: 2px;
}

#ui-panel {
    position: fixed;
    bottom: 8px;
    left: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    z-index: 9999;
}

#internal-resolution {
    border: none;
    padding-right: 30px;
    background-position: right 8px center;
    background-repeat: no-repeat;
    appearance: none;
    cursor: pointer;
}

#rotation-readout,
#internal-resolution,
#scale-value,
#color-picker {
    padding: 6px 10px;
    background: rgba(0,0,0,0.2);
    color: #fff;
    font-family: monospace;
    font-size: 13px;
    border-radius: 3px;
}

#color-picker {
    border: none;
    cursor: pointer;
    z-index: 9999;
}
