html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    border: 5px solid rgba(0, 0, 0, 0.37);
}


body {
    background-image: url('./assets/roma_ragazza.png');
    background-size: 250vw auto;   /* width follows viewport, height auto -> keeps aspect */
    background-position: -100vw var(--bg-y, 0px); /* X Y from top-left */
    background-repeat: no-repeat;
    background-attachment: scroll; /* background moves with scroll */
}
