:root {
    --color-bg-primary: rgba(218, 165, 32, 1);
    --color-bg-dark: rgba(0, 0, 0, 0.5);
    --color-text: #fff;
    --color-border: rgba(0, 0, 0, 0.2);
    --color-dropdown-bg: rgba(218, 165, 32, 1);
    --color-art: #ffffff;
}

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    z-index: 1;
    /*border: 5px solid var(--color-border);*/
}

body {
    background-color: var(--color-bg-primary);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: var(--color-text);
    font-family: monospace;
    font-size: 13px;
}

select option {
    background: var(--color-dropdown-bg);
}

*:focus {
    outline: 2px solid var(--color-border);
    outline-offset: 2px;
}

#ui-panel {
    position: fixed;
    bottom: 8px;
    left: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    z-index: 9999;
}

#internal-resolution {
    border: none;
    appearance: none;
    cursor: pointer;
    
}

#rotation-readout,
#internal-resolution,
#zoom-value,
#color-picker {
    padding: 6px 10px;
    background: var(--color-bg-dark);
    color: var(--color-text);
    font-family: monospace;
    font-size: 13px;
    border-radius: 3px;
}

#color-picker {
    border: none;
    cursor: pointer;
    width: 50%;
    z-index: 9999;
}

#zoom-slider {
    width: 50%;
    cursor: pointer;
}

.goof-icon {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--color-art); /* set your desired color */
    -webkit-mask: url('./assets/goof.svg') center/contain no-repeat;
            mask: url('./assets/goof.svg') center/contain no-repeat;
    z-index: 0; /* raise to 2 if you need it above the canvas */
}