html,body{margin:0;padding:0;overflow:hidden}canvas{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);image-rendering:pixelated;image-rendering:crisp-edges;border:5px solid rgb(252,136,41)}body{background:#ccc47c}
